* {
  margin:0;
  padding:0;
}

title {
  font-family: 'Bad Script', cursive;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FAEBD7;
  color: #808080;
  line-height: 1.6;
  text-align: center;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 0 30px;
}

#showcase {
  height: 300px;
}

.menuitem a:link,a:hover,a:visited,a:active {
  color:white;
  text-decoration:none;
}

#showcase h1 {
  font-size: 50px;
  line-height: 1.6;
  position: relative;
  animation-name: floatingdown;
  animation-duration: 3s;
  animation-fill-mode:forwards;
  
}

@keyframes floatingdown {
  0% {top: -60px}
  100% {top: 200px;}
}

#content {
  position: relative;
  animation-name: content;
  animation-duration: 3s;
  animation-fill-mode:forwards;
}

@keyframes content {
  0% {left: -1000px;}
  100% {left: 0px;}
}

.btn {
  display: inline-block;
  color: #FAEBD7;
  text-decoration: none;
  padding: 1rem 2rem;
  border: #FAEBD7 1px solid;
  margin-top: 40px;
  opacity:0;
  animation-name:btn;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  transition-property: transform;
  transition-duration:1s;
}

@keyframes btn {
  0% {opacity:0;}
  100% {opacity:1};
}

.btn:hover {
  transform:rotateY(180deg);
}

a:link, a:visited {
    display: inline-block;
  color: #808080;
  text-decoration: none;
  padding: 1rem 2rem;
  border: #808080 1px solid;
  margin-top: 40px;
}
a:hover, a:active {
    background-color: #F0F8FF;
}


h2, h3 {
margin:0 0 -.7em 0;
}

.column-layout {
max-width: 800px;
  background-color:#FAEBD7 ;
  margin: 10px auto 0 auto;
  line-height: 1.65;
  padding-right:40px;
  display: flex;
}

#map {
        height: 400px;
        width: 100%;
       }

.main-column {
flex:2;
order:1;
padding-right:40px;
}

.sidebar-two {
flex:1;
order:2;
}

.menu-layout {
  display: flex;
  margin: 0px auto;
  max-width: 930px;
  width: 100%;
  justify-content: space-between;
}

.picture {
      float:left;
      margin-right:20px;
      margin-left:20px;
      height:5px;
      width:5px;
      padding:10px;
}
.call-outs-container {
max-width:900px;
margin:20px auto 0 auto;
display:flex;
justify-content: space-between;
}

.call-out {
padding: 20px;
margin-bottom: 20px;
box-sizing:border-box;
flex-basis: 49%;
}

.call-out:nth-child(1) {background-color:	#8FBC8F;}
.call-out:nth-child(2) {background-color:	#D2B48C;}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 266px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 10px;
    text-align: center;
}
